* {
  box-sizing: border-box;
  text-decoration: none;
}
html {
  --fact-card-width: 108px;
  --fact-card-height: 180px;
  --gradient-3-button: linear-gradient(
    315.42deg,
    #2af598 3.91%,
    #0049fd 96.72%
  );
  --mask-background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 3.17%,
    #000000 100% 
  );
  --second-featured-threads-background: linear-gradient(180deg,#E5E6ED 41.65%,#F1F2F4 80.57%,#FFFFFF 96.86%);
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
[class*="col-"] {
  border: none;
  float: left;
  padding: 15px;
}
body {
  color: #2d3748;
  font-family: "Lato", Arial;
  font-family: "Lato", Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tinhte-text__name {
  font-size: 24px;
  font-weight: 600;
  margin-left: 12px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 47px;
}
.tinhte-text__subtitle {
  font-weight: 600;
  font-size: 8px;
  line-height: 7px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  margin-top: 3px;
  text-align: justify;
  padding-left: 57px;
}
.tinhte-text {
  margin-top: -45px;
}
img.logo {
  border-radius: 20px;
}
.menu-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -47px;
}
.menu-icon {
  position: relative;
  width: 100%;
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.search {
  display: block;
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 40px;
}
.search-wrapper {
  width: 100%;
  position: relative;
}
form.compact-search {
  padding: 0px 16px;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  background-color: #e5e6ed;
}
button.search-icon {
  width: 35px;
  height: 35px;
  opacity: 0.5;
  border: none;
  background-color: #e5e6ed;
  padding-top: 9px;
  padding-left: 3px;
}

input.search-textbox {
  width: 80%;
  max-width: 400px;
  margin-left: 7px;
  position: absolute;
  margin-top: 12px;
  border: none;
  background-color: #e5e6ed;
  margin-left: -2px;
}
.page-layout {
  background-color: #ffffff;
}
.additional {
  padding-top: 16px;
}
.burger-menu {
  padding: 4px 8px;
  border-radius: 40px;
  background-color: #e5e6ed;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  width: 100px;
  float: right;
}

.wrapper {
  margin-bottom: 16px;
  margin-top: 24px;
}
.menu-page {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.menu-page li {
  display: inline-block;
  margin: 0 10px;
}
a.name-menu-page {
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  height: 32px;
  position: relative;
  color: black;
}

.menu-page::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: #1570ef;
  left: 4%;
  transform: translateX(-32%);
  margin-top: 27px;
}
a.all-fact {
  color: #1570ef;
  font-size: 14px;
  font-weight: 600;
}
.facts-container {
  overflow-x: auto;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.item:first-child {
  padding-left: 0;
}
.item {
  padding: 0 6px 8px;
}
.add-editor {
  position: relative;
}
.preview-view-fact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: var(--fact-card-width);
  height: var(--fact-card-height);
  background-image: var(--gradient-3-button);
}
.avatar-fact {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #1570ef;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.create-fact {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  margin-top: 4px;
  z-index: 2;
}
.avatar-plus {
  color: #ffffff;
  font-size: 20px;
  line-height: 17px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  bottom: -2px;
  right: -2px;
  position: absolute;
  background-color: #1570ef;
}
.preview-view {
  text-align: center;
  width: var(--fact-card-width);
  height: var(--fact-card-height);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-image: var(--gradient-3-button);
}
.preview-img {
  object-fit: cover;
  width: var(--fact-card-width);
  height: var(--fact-card-height);
  border-radius: 8px;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.image-loader .spacer {
  display: block;
  padding-bottom: 100%;
  background-color: #e5e6ed;
}
.load-more-container {
  border-radius: 8px;
  width: 108px;
  height: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.load-more {
  font-size: 14px;
  margin: 10px 0 0 0;
}
.more-icon-fas {
  font-size: 16px;
}
.fas {
  font-weight: 900;
  font-family: Font Awesome\5 Free;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-ellipsis:before {
  content: "\f141";
}
.button-light {
  font-size: 16px;
  color: #1570ef;
  background-color: #e6f0fd;
}
.button {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.preview-mask {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* position: absolute; */
  background-image: var(--mask-background);
  opacity: 0.8;
  overflow: hidden;
  padding: 50px 0;
}
.preview-avatar {
  top: 8px;
  left: 9px;
  position: absolute;
  width: 42px;
  height: 42px;
  border: none;
  background-color: transparent;
}
.avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: var(--blue-border);
  background-color: var(--grey-background);
  display: block;
}
.preview-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  bottom: 8px;
  left: 9px;
  position: absolute;
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-loader {
  overflow: hidden;
  position: relative;
  display: block;
}
.spacer {
  padding-bottom: 100%;
  border-radius: 100%;
}
.image-loader > img {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 19px;
  position: absolute;
  object-fit: cover;
}
.add-editor-story {
  border: none;
}
.preview-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  bottom: 8px;
  left: 9px;
  position: absolute;
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-page {
  /* -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify; */
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.section-heading {
  color: #2d3748;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 16px;
}
.preview-view:hover img {
  transform: scale(1.1);
}
.image-loader.preview-img-icon > img.preview-img-icon {
  width: 100%;
  height: 100%;
  inset: 0px;
  position: absolute;
  object-fit: cover;
  border-radius: 100%;
}
.page-layout {
  background-color: #ffffff;
}
.additional {
  padding-top: 16px;
}
.featured-threads {
  margin-bottom: 10px;
}
.advertisement {
  position: relative;
}
img.main-img {
  width: 545px;
  height: 340px;
  border-radius: 8px;
}
img.android {
  width: 265px;
  height: 165px;
  border-radius: 8px;
}
img.main-image {
  width: 265px;
  height: 165px;
  border-radius: 4px;
}
.second {
  background-image: var(--second-featured-threads-background);
  width: 265px;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
}
.main.first {
  width: 545px;
  float: left;
  margin-right: 20px;
  margin-left: -40px;
  margin-top: 0px;
}
.news-img {
  list-style-type: none;
}
.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
}
p.excerpt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  font-size: 16px;
  line-height: inherit;
}
.content {
  padding-left: 20px;
  padding-right: 20px;
}
.news-image {
  list-style-type: none;
  margin-left: -40px;
  width: 265px;
}
.main-hot {
  margin-left: 242px;
  margin-top: -264px;
  width: 265px;
}
.main-hit {
  width: 265px;
  float: right;
  margin-top: -307px;
  margin-right: 29px;
}
.title-content {
  font-size: 22px;
  line-height: 30px;
  overflow: visible;
  -webkit-line-clamp: unset;
}
.title-one{
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
}
